body {
    font-family: Consolas, "Courier New", monospace;
    line-height: 19px;
    letter-spacing: 0px;
    font-size: 14px;
    color: var(--vscode-editor-foreground);
    background-color: var(--vscode-editor-background);
}

::selection {
    background: var(--vscode-editor-selectionHighlightBackground);
    color: var(--vscode-editor-selectionForeground);
}

a {
    color: #EE4848;
    text-decoration: none;
}

a:hover a:focus {
    color: #EE4848;
    text-decoration: none;
    cursor: pointer;
}

a:visited a:active{
    color: #AD3030;
}

/*--------------- Navbar --------------- */

.navbar {
    overflow: hidden;
    background-color: #EE4848;
    color: #F4F6F7;
}

.navbar .logo {
    float: left;
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.navbar .search-container {
    float: right;
    margin-top: 10px;
}

.navbar .search-container input[type=text] {
    padding: 6px;
    margin-top: 10px;
    margin-right: 16px;
    border: none;
}

.navbar .search-container button {
    float: right;
    padding: 6px;
    margin-top: 10px;
    margin-right: 16px;
    background: #EE4848;
    color: #DFDFDF;
    border: 2px solid #DFDFDF;
    border-radius: 3px;
    cursor: pointer;
}

/*--------- Post list view header ----------- */

.current-subreddit {
    align-content: center;
    justify-content: center;
    text-align: center;
    color: #EE4848;
}

.post-title-container {
    padding: 5px;
}

.post-list button {
    text-decoration: none;
    color: #F4F6F7;
    background-color: transparent;
    border: none;
    text-align: left;
    outline: none;
}

.post-list button:hover, button:focus {
    color: #EE4848;
    border: none;
    outline: none;
    cursor: pointer;
}

.post-list button.visited {
    color: #AD3030;
}

.post-list button:active {
    border: none;
    color: #EE4848;
}

/*------------- Post list view --------------- */
.post-list-container .post-list-post-container {
    padding: 0;
    margin: 0px;
}

.post-list-container .post-list-post-container a {

}

.post-list-container .post-list-post-container button {
    text-decoration: none;
    color: #F4F6F7;
    background-color: transparent;
    border: none;
    text-align: left;
    outline: none;
}